---
import Layout from "layouts/Layout.astro";
import HomeComponent from "components/HomeComponent.vue";
import AboutComponent from "components/AboutComponent.vue";

const visible = true;
---

<Layout title="Caíque | Dev Web">
  <main>
    {visible && <HomeComponent client:load />}
    <AboutComponent />
  </main>
</Layout>

<style>

</style>
