---
import Layout from "layouts/Layout.astro";
import HomeComponent from "components/HomeComponent.vue";
import AboutComponent from "components/AboutComponent.vue";

const visible: boolean = false;
---

<Layout title="Caíque | Dev Web">
  <main>
    {visible && <HomeComponent client:load />}
    {!visible && <AboutComponent client:load />}
  </main>
</Layout>

<style>

</style>
